.wrapper{
  width: 30%;
  margin: 0 auto;
  background: rgba(255, 255, 255, 0.5);
}

/*header {*/
  /*width: 30%;*/
  /*margin: 0 auto;*/
  /*background: rgba(255, 255, 255, 0.5);*/
/*}*/

/*todos{*/
  /*border: 1px solid red;*/
/*}*/

/*todoFooter{*/
  /*width: 30%;*/
  /*margin: 0 auto;*/
  /*background: rgba(255, 255, 255, 0.5);*/
/*}*/
